img {
    width: 12%;
    display: block;
}

.img1 { right: 0; 
bottom: 0; 
position:fixed;
transition: transform 0.3s ease;
}

.img1:hover {transform: translate(5px,-5px);
}

.img2 { position: fixed;
}

.img3 { position: relative;
right: 15px;
bottom: 30px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  tr, td {
    border: 5px solid #0ce7fb;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
    border-radius: 5px;
  }
  